<div id="sidebar">
	<!-- Sidebar -->
		<sidebar>
			<li><a href="{{ site.baseurl }}/charon_relay" class="button">Project blog</a></li>
			<br>
			<li><a href="{{ site.baseurl }}/charon_relay/2016-4-16-about-charon/" class="button">About the game</a></li>
			<br>
			<li><a href="{{ site.baseurl }}/charon_relay/2016-4-16-about-charon/" class="button">Downloads</a></li>
			<br>
			<li><a href="{{ site.baseurl }}/charon_relay/2016-4-16-about-charon/" class="button">Mechanics</a></li>
		</sidebar>	
</div>