---
title: Arcana
layout: default
---
	
<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row double">
				<div class="3u">
					{% include charon_sidebar.html %}
				</div>
				<div class="9u skel-cell-important">
					<div id="content">

						<!-- Blog -->
							<article>
								<header class="major">
									<h3>Posts</h3>
								</header>
								{% for post in site.charon_relay limit: 5 offset: 15 %}
																			
										<div class="box post">
											
												<h3>{{ post.title }}</h3>
												{{ post.excerpt }}
												<footer>
													<a href="{{ site.baseurl }}{{ post.url }}" class="button">Continue Reading</a>
												</footer>
											
										</div>										
									
								{% endfor %}
							</article>
							<!-- Pagination links -->
						<div class="pagination">
							<a href="{{ site.baseurl }}/charon_relay/page3" class="next ">Previous </a>
						  <span class="page_number ">Page: 4 of 6</span>
						    <a href="{{ site.baseurl }}/charon_relay/page5" class="next ">Next</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>			
